@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc;
  --accent: #7b92fa;
  --accent-hover: rgb(170, 194, 220);
  --surface: #ffffff;
  --text: #111827;
}

.dark {
  --background: #000b1a;
  --accent: #000971;
  --accent-hover: #06118a;
  --surface: #010c2d;
  --text: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-surface: var(--surface);
  --color-text: var(--text);
}

@utility interface-transition {
  @apply transition-colors duration-500 ease-in-out;
}